/*----------- underline text -----------*/
span[style*="underline"], u{
	position: relative;
	z-index: 1;
	text-decoration: none !important;
	&::after{
		content: "";
		height: .32em;
		background-color: $colorSand;
		width: 100%;
		bottom: .0em;
		left:0;
		position: absolute;
		z-index: -1;
	}
}


h4{
	letter-spacing: .8px;
}
